In [ ]:
import random
salary_list=[random.randint(50000,100000) for _ in range (10_000_000)]

In [ ]:
import numpy as np

In [ ]:
%%timeit
np.mean(salary_list)

525 ms ± 9.87 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
job_titles=["Data Analyst", "Data Scientist", "Data Engineer", "ML Engineer", "AI Engineer"]

base_salaries=[50000,100000,70000,80000,np.nan]

bonus_rates=[0.1,0.5,0.3,0.2,np.nan]

In [ ]:
total_salaries=base_salaries + (1*bonus_rates)
print(total_salaries)

[50000, 100000, 70000, 80000, nan, 0.1, 0.5, 0.3, 0.2, nan]

In [ ]:
np.nanmean(total_salaries)

37500.137500000004